<div id="main">
  <div class="card-columns">

    <div class="card border-success mb-3" style="max-width: 18rem;">
      <div class="card-header">Add</div>
      <div class="card-body text-success">
        <p class="card-title"><i class="fas fa-plus"></i>Add new Contact</p>
      </div>
    </div>

    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-header">Contact</div>
      <div class="card-body text-info">
        <p class="card-title">Name: Test Test</p>
        <p class="card-text">Number: 987654321</p>
        <button class="btn btn-light" type="button">edit</button>
        <button class="btn btn-light" type="button">delete</button>
      </div>
    </div>

    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-header">Contact</div>
      <div class="card-body text-info">
        <p class="card-title">Name: Test Test</p>
        <p class="card-text">Number: 987654321</p>
        <button class="btn btn-light" type="button">edit</button>
        <button class="btn btn-light" type="button">delete</button>
      </div>
    </div>

    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-header">Contact</div>
      <div class="card-body text-info">
        <p class="card-title">Name: Test Test</p>
        <p class="card-text">Number: 987654321</p>
        <button class="btn btn-light" type="button">edit</button>
        <button class="btn btn-light" type="button">delete</button>
      </div>
    </div>

    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-header">Contact</div>
      <div class="card-body text-info">
        <p class="card-title">Name: Test Test</p>
        <p class="card-text">Number: 987654321</p>
        <button class="btn btn-light" type="button">edit</button>
        <button class="btn btn-light" type="button">delete</button>
      </div>
    </div>

    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-header">Contact</div>
      <div class="card-body text-info">
        <p class="card-title">Name: Test Test</p>
        <p class="card-text">Number: 987654321</p>
        <button class="btn btn-light" type="button">edit</button>
        <button class="btn btn-light" type="button">delete</button>
      </div>
    </div>

    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-header">Contact</div>
      <div class="card-body text-info">
        <p class="card-title">Name: Test Test</p>
        <p class="card-text">Number: 987654321</p>
        <button class="btn btn-light" type="button">edit</button>
        <button class="btn btn-light" type="button">delete</button>
      </div>
    </div>
  </div>
</div>
