<img id="logo" src="https://play-lh.googleusercontent.com/7O6Mvzvsy_gxPY7IPHN5iJWo9CB9CEeUvs8Ha1m1v0fctHD-tLwBR6TycZ45V-5aGkE" alt="Logo">

<div id="description">
  <h1>Who are we?</h1>
  <p>We are a small team of developers, who have just started a startup.</p>

  <h1>what do we do?</h1>
  <p>We create small web applications, can help everyone in there dally lives</p>

  <h1>Our mission moving forward?</h1>
  <p>To develop more ambitious applications, to improve everyone's dally live</p>
</div>

<p id="userCounter">Number of registered Users: 300</p>

